<div class="container">
    <div class="row">

        <h5 class="white-text boldest">EvSched</h5>
        <p class="grey-text text-lighten-4">
            An evolutionary algorithm for optimizing linear schedules in daily life
        </p>
        <br>
        <div>Icons made by <a class="white-text" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" class="white-text" title="Flaticon">www.flaticon.com</a>
            <br>
            Cover Photo by <a class="white-text"
                href="https://unsplash.com/@lucian_alexe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lucian
                Alexe</a> on <a class="white-text"
                href="https://unsplash.com/s/photos/schedule?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </div>

    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <span>All rights reserved.</span>
    </div>
</div>